* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f0f8ff;
  font-family: 'Poppins', sans-serif;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  padding-bottom: 1px;
}

.data {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

.data img{
  position: relative;
  width: 250px;
  align-items: center;
  padding-top: 70px;
}
.logo {
  font-size: 2em;
  color: black;
  user-select: none;
}

.logo img{
  position: absolute;
  width: 70px;
  height: auto;
  top: 5px;
  left: 45px;
}

.navigation{
  display: flex;
  gap: 10px;
  margin-left: 60px;
}

.navigation a {
  position: relative;
  font-size: 1.1em;
  color: black;
  align-self: center;
  text-align: center;
  text-decoration: none;
  font-weight: 500px;
  align-items: center;
  margin-left: 20px;
}

.navigation a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: black;
  border-radius: 5px;
  transform: scaleX(0);
  transition: transform .5s;
}

.navigation a:hover::after {
  transform: scaleX(1);
}

.navigation .Login-popup {
  width: 130px;
  height: 50px;
  background: transparent;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  color: black;
  font-weight: 500;
  margin-left: 40px;
  transition: .5s;
}

.navigation .Login-popup a {
  color: black;
  text-decoration: none;
}


.navigation .Login-popup:hover {
  align-items: center;
  text-decoration: none;
  background: black;
  color: white;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 35px;
}

.box {
  width: 900px;
  height: auto;
  padding: 20px;
  background: rgb(248, 228, 211);
  box-shadow: 0px 5px 16px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.instructure {
  text-align: left;
  background: rgb(248, 228, 211);
}

h2 {
  font-family: 'DM Serif Text', serif;
  font-size: 30px;
  letter-spacing: 4px;
  background: rgb(248, 228, 211);
}

p {
  font-family: 'helvetica', sans-serif;
  font-weight: lighter;
  font-size: 25px;
  margin-top: 15px;
  background: rgb(248, 228, 211);
}