/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background-color: #f0f8ff; 
}

/* Header Section */
.head {
    text-align: center;
    padding-top: 50px;
} hii

.tophead img {
    width: 250px;
    align-items: center;
}


/* Logo at Top Left */
.logo {
    position: absolute;  /* Fix position */
    top: 10px;  /* Distance from the top */
    left: 10px;  /* Distance from the left */
}

/* Ensure logo image size */
.logo img {
    width: 90px;
    height: auto;
}

.logo img:hover {
    width: 88px;
    height: auto;
}

.getname h3{
    font-family: "DM Serif Text", serif;
    font-size: 30px;
    padding: 45px;
    letter-spacing: 4px;
}

